// Imports
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Questrial|Merriweather|Open-Sans');

// Color Variables
$color-primary: #FFF3F2;
$color-secondary: #FFFAF8;
$color-tertiary: #fba1a1;

$color-dark: #333;
$color-gray: #848484;
$color-gray-light: #f7f7f7;

// Font-Variables
$font-primary: 'Questrial', sans-serif;
$font-logo: 'Merriweather', serif;
$font-heading: 'Montserrat', sans-serif;
$font-text: 'Open Sans', sans-serif;

// Responsive Breakpoints
$bp-medium: 43.75em; // 700px/16px
$bp-large: 62.5em; // 1000px/16px
$bp-larger: 87.5em; // 1400px/16px
$bp-largest: 125em; // 2000px/16px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

    @media screen and (min-width: $bp-largest) {
        font-size: 85%;
    }
}

body {
    color: $color-dark;
    background: $color-secondary;
    font-family: $font-primary;
}

html, body {
    min-height: 100%; // full page
}

section {
    padding: 8rem 1rem;
}