.divider {
    height: 35rem;
    
    display: grid;
    align-items: center;
}

.divider-1 {
    background: url("https://i.postimg.cc/L5TdWXYb/bernard-hermant-741798-unsplash.jpg") no-repeat;
    background-size: cover;
}

.skills {
    padding: 4rem 0;
    background: #fff;
    height: max-content;
    margin: 0 auto;
    overflow: hidden;

    grid-template-columns: repeat(4, auto);

    @media screen and (min-width: $bp-medium) {
        grid-template-rows: repeat(2, max-content);
        grid-gap: 2rem;
    }

    @media screen and (min-width: $bp-large) {
        justify-content: center;
        padding: 6rem 10rem;
    }

    &__heading {
        padding-bottom: 2rem;

        grid-row: 1;
        grid-column: span 4;
    }

    &__figure {
        text-align: center;
        padding: 1rem 0;
        opacity: 0;

        

        &:nth-of-type(5),
        &:nth-of-type(6),
        &:nth-of-type(7),
        &:nth-of-type(8) {
            animation: fadeInRight .75s ease-in-out forwards;
        }

        i {
            color: #fff;
            font-size: 4rem;
            -webkit-text-stroke: 1px #000;
            transition: all .2s;

            @media screen and (min-width: $bp-medium) {
                font-size: 6rem;
                padding: 4rem;
            }
        }

        &:hover {
            i {
                -webkit-text-stroke: 1px $color-tertiary;
            }
    
            figcaption {
                color: $color-tertiary;
            }
        }
    }

    &__caption {
        font-size: 1.4rem;
        font-weight: bold;
        padding: 1rem 0 0;
        transition: all .2s;
    }
    
}