.divider {
    height: 35rem;
    
    display: grid;
    align-items: center;
}

.divider-1 {
    background: url("https://i.postimg.cc/L5TdWXYb/bernard-hermant-741798-unsplash.jpg") no-repeat;
    background-size: cover;
}

.features {
    padding: 4rem 2rem;
    height: max-content;
    background: #fff;

    @media screen and (min-width: $bp-medium) {
        padding: 6rem 0;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, max-content);
        grid-gap: 2rem;

        @media screen and (min-width: $bp-medium) {
            margin: 0 auto;
            width: 70%;

            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, max-content);
        }
    }

    &__figure {
        max-width: 100%;
        height: 100%;

        grid-row: span 2;

        &--img {
            max-width: 100%;

            @media screen and (min-width: $bp-medium) {
                height: 100%;
            }
        }

        &--caption {
            padding: 2rem 0;

            @media screen and (min-width: $bp-medium) {
                align-self: center;
            }
        }
    }

    #caption-1 {

        @media screen and (min-width: $bp-medium) {
            grid-column: 1;
            grid-row: 3;
        }
    }

    #caption-2 {

        @media screen and (min-width: $bp-medium) {
            grid-row: 1;
            grid-column: 2;
        }
    }

    &__heading {
        padding: 0 0 2rem;
    }

    &__text {
        font-size: 1.4rem;
        text-align: center;
    }
}

.skills {
    padding: 4rem 0;
    background: #fff;
    height: max-content;
    margin: 0 auto;
    overflow: hidden;

    grid-template-columns: repeat(4, auto);

    @media screen and (min-width: $bp-medium) {
        grid-template-rows: repeat(2, max-content);
        grid-gap: 2rem;
    }

    @media screen and (min-width: $bp-large) {
        justify-content: center;
        padding: 6rem 10rem;
    }

    &__heading {
        padding-bottom: 2rem;

        grid-row: 1;
        grid-column: span 4;
    }

    &__figure {
        text-align: center;
        padding: 1rem 0;

        i {
            color: #fff;
            font-size: 4rem;
            -webkit-text-stroke: 1px #000;
            transition: all .2s;

            @media screen and (min-width: $bp-medium) {
                font-size: 6rem;
                padding: 4rem;
            }
        }

        &:hover {
            i {
                -webkit-text-stroke: 1px $color-tertiary;
            }
    
            figcaption {
                color: $color-tertiary;
            }
        }
    }

    &__caption {
        font-size: 1.4rem;
        font-weight: bold;
        padding: 1rem 0 0;
        transition: all .2s;
    }
    
}