.footer {
    background: $color-primary;
    padding: 4rem;
    text-align: center;
    width: 100%;

    &__social {
        display: flex;
        justify-content: center;
    }

    &__link {
        display: inline-block;
        padding-right: .5rem;
        color: $color-dark;
        text-decoration: none;
        transition: all .2s;

        &:hover {
            color: $color-gray;
        }
    }

    &__icon {
        font-size: 3rem;
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }

    &__credits {
        padding-top: 2rem;
        display: block;

        &--link {
            color: $color-dark;
            text-decoration: none;
            transition: all .2s;

            &:hover {
                color: $color-gray;
            }
        }

        &--heart {
            display: inline-block;
            padding: 0 .25rem;
        }
    }
}