.header {
    height: 100vh;
    background: url("https://i.postimg.cc/T1vFVTQp/samuel-zeller-250029-unsplash.jpg") no-repeat;
    background-size: cover;
  
    display: grid;
    align-items: center;

    @media screen and (min-width: $bp-medium) {
        height: 80vh;
    }

    &__text {
        display: grid;
        justify-items: center;
        grid-gap: 3.5rem;
    }

    &__btn {
        width: max-content;
        display: inline-block;
        background: #000;
        color: #fff;
        padding: 1.5rem 2rem;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.4rem;
        letter-spacing: .2rem;
        transition: all .2s;

        &:hover {
            background: #fff;
            color: #000;
        }
    }
}